.App-header{
    width: 100%;
    max-width: 1150px;
    margin: 15px auto;
}
.logo-img{
    max-width: 250px;
}
form{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}
.offer p{
    text-align: center;
}